.grid-layout-product {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-areas:
    "header header header"
    "aside product product"
    "aside product product";
}

.product {
  grid-area: product;
}

.product-section-title {
  margin-left: 5.3rem;
  margin-top: 1rem;
}

.product-component {
  padding: 2rem;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

.card {
  border: 1px solid var(--COLOR-FT);
}

.card-img {
  padding: 0;
  object-fit: cover;
}

.category,
.star,
.sort,
.aside-filter-clear {
  cursor: pointer;
}

.card-dismis-btn {
  font-size: 1.5rem;
}

.card-desc-title {
  display: flex;
}

.rating-num {
  margin-left: auto;
}
