.grid-layout-product {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "aside product product";
}

.product {
  grid-area: product;
}

@media only screen and (max-width: 875px) {
  .grid-layout-product {
    grid-template-areas: "product product product";
  }

  /* .header {
    position: sticky;
    top: 0;
    z-index: 2;
  } */

  .aside-product {
    display: none;
    position: fixed;
    z-index: 2;
    background-color: var(--COLOR-FT);
    height: 100%;
  }

  .product-section-title .btn-filter {
    display: flex;
  }

  .navbar-child:nth-child(2) {
    order: 3;
  }

  .navbar-title {
    margin-left: 0;
  }

  .navbar-search {
    max-width: 54.6rem;
    width: 100%;
  }

  .navbar-icons {
    gap: 0;
    margin-right: 0;
  }

  .burger-icon {
    display: flex;
    align-items: center;
  }

  .product-list {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  :root {
    font-size: 85%;
  }
}
