.grid-layout-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-height: 100vh;
  grid-template-areas:
    "header header header"
    "main-home main-home main-home"
    "bottom bottom bottom"
    "footer footer footer";
}

.img-resp {
  width: 85%;
}

.main-home {
  grid-area: main-home;
  position: relative;
}

.main-txt {
  position: absolute;
  top: 2;
  left: 0;
  right: 0;
  margin: 30rem;
}

.main-home,
.footer-home p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.img-home-right,
.img-home-left {
  width: 85%;
  object-fit: contain;
}

.main-home h1 {
  font-size: 7rem;
}

.main-home h2 {
  font-size: 4rem;
}

.section-home {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  cursor: pointer;
}

.section-brands {
  display: flex;
  justify-content: space-around;
}

.brand-heading {
  margin: 2rem;
}
