.grid-layout-home {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "main main main";
}

.main-home {
  grid-area: main;
}

.footer-home p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.section-home {
  grid-area: bottom;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  cursor: pointer;
}

.section-brands {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}

.brand-heading {
  margin: 2rem;
}
