.single-product-page {
  min-height: 80vh;
  display: grid;
  grid-template-areas: "product-img product-text";
}

.product-img {
  grid-area: product-img;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-img > img{
  max-width: 28rem;
}

.product-details {
  max-width: 28rem;
  grid-area: product-text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

h1 > del {
  font-size: smaller;
}

@media only screen and (max-width: 750px) {
  .single-product-page {
    grid-template-areas:
      "product-img"
      "product-text";
  }

  .product-details {
    margin: 5rem;
  }
}
