.aside-product {
  grid-area: aside;
}

.sidebar-product {
  margin: 2rem;
}

.sidebar,
.aside-rating,
.aside-category,
.aside-sort,
.aside-availablity {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.aside-category > label > input,
.aside-rating > label > input,
.aside-sort > label > input,
.aside-availablity > label > input {
  margin-right: 5px;
}

.aside-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-filter-clear {
  margin: 1rem;
  text-decoration: underline;
}

.category,
.star,
.sort,
.aside-filter-clear {
  cursor: pointer;
}
