.grid-layout-wishlist {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "wishlist wishlist wishlist"
    "wishlist wishlist wishlist";
}

.wishlist {
  grid-area: wishlist;
}

.wishlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wishlist > h2 {
  margin: 1rem;
}

.wishlist-container > li {
  margin: 0.5rem;
}

.card-dismis-btn {
  color: var(--COLOR-ERROR);
}

.card-img-hz {
  width: 10rem;
  height: 10rem;
}

.card-img {
  object-fit: cover;
}

.card-price,
.card-mrp {
  font-weight: 400;
  font-size: 1rem;
}

.card-mrp {
  font-size: 1rem;
}

.card-dismis-btn {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
