.grid-layout-wishlist {
  display: grid;
  height: 80vh;
  grid-template-areas: "... main ...";
}

.wishlist {
  grid-area: main;
}

.wishlist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.wishlist > h2 {
  margin: 1rem;
}

.card-dismis-btn {
  color: var(--COLOR-ERROR);
}

.card-img-hz {
  width: 10rem;
  height: 10rem;
}

.card-img {
  object-fit: cover;
}

.card-price,
.card-mrp {
  font-weight: 400;
  font-size: 1rem;
}

.card-mrp {
  font-size: 1rem;
}

.card-dismis-btn {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 650px) {
  .card-hz {
    width: 25rem;
  }
}
