.grid-layout-signup {
  display: grid;
  min-height: 80vh;
  grid-template-areas: "... main ...";
}

.form-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-signup {
  grid-area: main;
  max-width: 40rem;
  width: 100%;
  padding: 1rem;
  justify-content: center;
  background-color: var(--COLOR-FT);
  gap: 0.5rem;
  height: fit-content;
  margin-top: 4rem;
}

.signup-checkbox {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-btn {
  margin-top: 0;
}

.title-form,
.link-account {
  text-align: center;
}

.form-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-passwordeye {
  position: absolute;
  right: 10px;
  display: flex;
}

.parent-div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}

.flex-1 {
  flex: 1;
}
