.grid-layout-signup {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header header header"
    "... ... ..."
    "... signup ..."
    "... ... ..."
    "footer footer footer";
}

.form-signup {
  grid-area: signup;
  padding: 1rem;
  justify-content: center;
  background-color: var(--COLOR-FT);
  gap: 0.5rem;
  
  position: relative;
}

.signup-checkbox {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.form-btn {
  margin-top: 0;
}

.title-form,
.link-account {
  text-align: center;
}

.form-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-passwordeye {
  position: absolute;
  top:16rem;
  right: 2rem;
}
