.grid-layout-cart {
  display: grid;
  min-height: 100vh;
  grid-template-areas:
    "... cart-left  cart-right ...";
}

.section-cart-left {
  grid-area: cart-left;
}

.cart-left-title{
  margin: 1rem 0;
}

.section-cart-right h3{
  margin: 1rem 0;
}

.section-cart-right {
  grid-area: cart-right;
}

.card-img-hz {
  width: 10rem;
  height: 10rem;
}

.card-img {
  object-fit: cover;
}

.total-qty {
  width: 2.8rem;
  outline: none;
}

.card-txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  justify-content: space-between;
}

.card-txt p,
.card-txt h3 {
  display: flex;
}

.card-txt p > span,
.card-txt h3 > span {
  margin-left: auto;
}

.card:hover {
  box-shadow: none;
}

.cart-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-qty {
  width: 2.8rem;
  outline: none;
}

.cart-product-qty {
  list-style-type: none;
}

.card-hz {
  position: relative;
}

.btn-ss {
  border-radius: 50%;
  padding: 0 0.3rem;
}

.qty-container {
  display: flex;
  justify-content: space-around;
}
 
.cart-product-qty > li {
  margin: 0.5rem;
}