.footer-home {
  grid-area: footer;
  background-color: var(--COLOR-PRIMARY);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--COLOR-FT);
}

.footer-home p {
  margin: 1rem;
}

.footer-icon {
  margin: 0.5rem;
}

.footer-p  {
display: flex;
align-items: center;
justify-content: center;
}

.footer-p > span {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
}

.footer-home button ,.footer-socials a {
  color: white;
}
