.profile-page {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.profile-container {
    border: 1px solid var(--COLOR-OFFLINE);
    height: fit-content;
    padding: 1rem;
    margin-bottom: 1rem;
}

.profile-container h2 {
    border-bottom: 1px solid;
}

.profile-container h3 {
    margin: 1rem 0;
}

.btn-logout {
    background-color: red;
    color: var(--COLOR-FT);
}

.form-address > input, .form-address {
    border: 1px solid var(--COLOR-OFFLINE);
}

.form-address {
    padding: 1rem;
    background-color: var(--COLOR-FT);
}

.form-address > button {
    margin-top: 0.5rem;
}